extends layout

block javascripts
	script(src="https://cdn.bootcss.com/hammer.js/2.0.8/hammer.min.js")
	script(src="/javascripts/dest/slide.min.js")
block content
	h1= title
	#elham(style="width:200px; height:200px; background: pink") hammer
	a(href="sms:15224038595") 15224038595